<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
			<listener class-name = "com.amazon.in_Utility.Listners"/>>
	</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.amazon.in_Test.SignIn_Test"/>
      <class name="com.amazon.in_Test.Add_to_Cart_Test"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
